* {
	color: #928374;
	background: #282828;
	font-family: 'hack', monospace;
}

/* #region Bootstrap Tweaks */

/* Makes bootstrap corners square */
.btn, .card {
	border-radius: 0;
}

/* #endregion */